/*
* Hammy - Frontend Stylesheet
*/

figure.hammy-responsive {
    display: block;
    margin: 0!important;
    -webkit-margin-before: 0!important;
    -webkit-margin-after: 0!important;
    -webkit-margin-start: 0!important;
    -webkit-margin-end: 0!important;
}